/* Fonte externa */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilos do header */
#header {
    text-align: center;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
}

#nome {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

/* Estilos de imagens */
.foto img {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navegação */
#contatos ul {
    list-style-type: none;
    padding: 0;
}

#contatos li {
    margin: 10px 0;
    font-size: 1.1rem;
    font-style: oblique;

}

#contatos a {
    color: #3498db;
    text-decoration: none;
}

#contatos a:hover {
    color: #2c3e50;
    text-decoration: underline;
}

/* Estilos do resumo */
.resumo p {
    font-style: italic;
    font-weight: 400;
    max-width: 900px;
    text-align: justify;
}

/* Estilos para as seções de habilidades e educação */
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #2C3E50;
}

ol {
    margin-left: 20px;
}

/* Estilos de links adicionais */
#links-adicionais ul {
    list-style-type: none;
    padding: 0;
}

#links-adicionais li {
    margin: 5px 0;
}

a[href="https://github.com/gusteugenio"] {
    color: #e74c3c;
    font-weight: bold;
}

#links-adicionais a:hover {
    color: #16a085;
}

/* Rodapé */
#footer {
    text-align: center;
    background-color: #34495E;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}

/* Pseudo-classe de foco para links */
#contatos a:focus {
    outline: 2px solid #3498db;
}
